<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DevConnection"     value="..."/>
    <add key="Dev1Connection"    value="..."/>
    <add key="OwnerConnection"   value="..."/>
    <add key="ServiceConnection" value="..."/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>